/* some style */
body {
  background-color: #EEEEEE;
}
h1, h2, h3, h4, h5, p {
  color: #333333;
}

p {
  font-size: 2em;
}

#highscore {
  position: absolute;
  top: 1em;
  right: 1em;
}

#score {
  position: absolute;
  top: 1em;
  left: 1em;
}

#current-pair {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
}

#buttons {
  position: absolute;
  bottom: 1em;
  left: 50%;
}

#first, #middle, #last {
  float: left;
  font-size: 4em;
}
